n8n-transcription-workflow.json
{
  "name": "PTE Audio Transcription",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b225b16c-c602-450e-b858-f9bbe4ba5dd6",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        240,
        256
      ],
      "id": "3fa7cd15-fbf9-4eaf-9999-e5adb7225507",
      "name": "Webhook",
      "webhookId": "b225b16c-c602-450e-b858-f9bbe4ba5dd6"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Transcribe this audio accurately with proper punctuation.\n\nAudio: {{ $json.audio }}\n\nReturn only the transcript text.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        480,
        256
      ],
      "id": "6a297c19-4b46-4141-9976-18d0e7f3c8d7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        480,
        480
      ],
      "id": "d17fd8fd-510d-4762-a7c9-91369aa6889c",
      "name": "OpenRouter Chat Model"
    },
    {
      "parameters": {
        "mode": "manual",
        "fields": {
          "values": [
            {
              "name": "transcript",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.1,
      "position": [
        720,
        256
      ],
      "id": "8f4e2c1d-5a3b-4c6d-8e9f-0a1b2c3d4e5f",
      "name": "Set Transcript"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        960,
        256
      ],
      "id": "9g5f3d2e-6a4c-5d7e-9f0a-1b2c3d4e5f6g",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Set Transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Transcript": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "pinData": {}
}
